@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container{
    text-align: center;

}
.top{
    background: transparent;
    opacity: 0.8;
    text-align: center;

}
body{
    background-image: url(../images/hg.jpg);
    background-position: center; 
}
.topContent{
    background-color: black;
    padding: 50px;
    color: white;
    border-radius: 25px;
    font-family: 'Rock Salt', cursive;
    line-height: 1.5;
}

.content{
    background-color: black;
    opacity: 0.8;
    padding: 50px;
    color: white;
    border-radius: 25px;
    line-height: 1.8;
    font-family: 'Shadows Into Light Two', cursive;
}


.results{
    text-align: center;
    font-size: 30px;
    margin-left: 50px;

}
.timer-text{
    font-size: 70px;
}

#startBtn{
background: green;
height: 50px;
color: white;
opacity: 1;
}
#endBtn{
background: red;
height: 50px;
color: white;
opacity: 1;
}
.submitBtn{
    background: yellow;
    height: 50px;
    text-align: center;


}
.huey{
    margin: 20px;
}